<div class="card mx-auto animated zoomIn delay-0.5s" style="width: 800px; margin-top: 250px;">
    <div class="card-header">
        <h3>About us</h3>
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur 
            alias ut nesciunt dolorum ad ex, ipsa rem doloribus. Iure, nisi!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis 
            placeat architecto nobis expedita exercitationem id sit eaque excepturi temporibus 
            vel ipsum, error optio numquam quidem, possimus molestiae at eligendi rem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsam omnis modi ullam 
            tenetur et! Error ipsum id voluptate dolorem tenetur nobis culpa, vitae hic repellat. 
            Maiores illum fuga nihil!
        </p>
    </div>
</div>