<div class="container p-5" style="margin-top: 120px;">
    <div class="row">
        <div class="col-sm-4 offset-md-4">
            <div class="card animated pulse">
                <div class="card-header bg-dark text-white text-center">
                    <h3>Contact Me</h3>
                </div>
                <div class="card-body">
                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Your email*" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" placeholder="Subject*" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="text" cols="30" rows="10" placeholder="Message*" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>