<div class="jumbotron animated zoomIn delay-0.5s" style="margin-top: 220px;">
    <h1 class="display-4">Task App</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda atque 
        repellendus molestiae doloribus culpa voluptas fugit, recusandae perferendis! 
        Autem aperiam distinctio hic adipisci temporibus omnis obcaecati, tenetur aliquam 
        enim iste tempore fugit corrupti nihil molestiae debitis quis dignissimos neque maiores?
    </p>
</div>